{% extends "layout.html" %}
{% load b64 %}

{% block extra_head %}
<style>
    :root {
        --jumbotron-padding-y: 3rem;
    }
    .jumbotron {
        padding-top: var(--jumbotron-padding-y);
        padding-bottom: var(--jumbotron-padding-y);
        margin-bottom: 0;
        background-color: #fff;
    }
    @media (min-width: 768px) {
        .jumbotron {
            padding-top: calc(var(--jumbotron-padding-y) * 2);
            padding-bottom: calc(var(--jumbotron-padding-y) * 2);
        }
    }
    .jumbotron p:last-child {
        margin-bottom: 0;
    }
    .jumbotron-heading {
        font-weight: 300;
    }
    .jumbotron .container {
        max-width: 60rem;
    }
    footer {
        border-top: 1px solid #eee;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    footer p {
        margin-bottom: .25rem;
    }
    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }
</style>
{% endblock %}

{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">같은 사람 테스트</h1>
            <p class="lead text-muted">사진 2장으로 비교해보세요. <a href="https://azure.microsoft.com/ko-kr/services/cognitive-services/face/" target="_blank">Azure Face API</a>를 통해, 사진 속 인물이 같은 사람인지 확인해드립니다.<br/>(사진은 절대 서버에 저장하지 않습니다.)</p>
            <p>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-block btn-primary my-2" value="두 사진을 얼굴을 비교해주세요." />

                    {{ form.errors }}
                </form>
            </p>
            <p class="alert alert-info">
                본 서비스는 파이썬/장고로 만들어졌으며, 마이크로소프트 인공지능 서비스인 <a href="https://azure.microsoft.com/ko-kr/services/cognitive-services/face/" target="_blank">Azure Face API</a>를 사용해서 만들었습니다. 본 프로젝트의 소스코드는 <a href="https://github.com/allieus/labs-face-hol">Github 저장소</a>에서 확인하실 수 있습니다. ;)
            </p>
        </div>
    </section>

    {% if form.result %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert {% if form.result.ret_verify.isIdentical %}alert-success{% else %}alert-danger{% endif %}">
                            <h4 class="alert-heading">확인 결과:</h4>
                            {% if form.result.ret_verify.isIdentical %}같은{% else %}다른{% endif %}
                            사람의 두 얼굴입니다. 신뢰도는 {{ form.result.ret_verify.confidence }}입니다.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="data:image/jpeg;base64,{{ form.photo1_data|b64encode }}" />
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    {% for key, value in form.result.ret1.0.faceAttributes.items %}
                                        <tr>
                                            <th>{{ key }}</th>
                                            <td>{{ value }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="data:image/jpeg;base64,{{ form.photo2_data|b64encode }}" />
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    {% for key, value in form.result.ret2.0.faceAttributes.items %}
                                    <tr>
                                        <th>{{ key }}</th>
                                        <td>{{ value }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}

{% block extra_body %}
<script>
$(function() {
    $('form [type=submit]').click(function() {
        $(this).attr('disabled', true).val('전송 중 ...');
    });
});
</script>
{% endblock %}

