<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Azure Face API - Test Page</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">여러분의 파이썬/장고 페이스메이커가 되겠습니다.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://nomade.kr/vod/" class="text-white">AskDjango VOD</a></li>
                            <li><a href="https://fb.com/groups/askdjango" class="text-white">AskDjango 페이스북 그룹</a></li>
                            <li><a href="mailto:me@askcompany.kr" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                    <strong>Azure Face API with Ask Django</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="text-muted">
        <div class="container">
            <p>
                &copy; <a href="https://fb.com/groups/askdjango">Ask Django</a>.
                여러분의 파이썬/장고 페이스메이커가 되겠습니다.
            </p>
        </div>
    </footer>

    {% block extra_body %}
    {% endblock %}
</body>
</html>
